
   
 body {
    font-family: 'Orbitron', sans-serif;
    
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'La Belle Aurore', cursive;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.logo {
    width: 50px;
    margin: auto;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a.one:link {color: forestgreen;}
a.one:visited {color: blueviolet;}
a.one:hover {font-size: 150%;}


input,textarea {
    background-color: yellowgreen
}
    
i {
    color: firebrick;
}



